<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daily Dose</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div>
        <div class="m-5">
            <h1>Choose an animal below:</h1>
        </div>


        <div class="mb-5">
            <form action="/" method="post">
                <button class="btn btn-outline-dark btn-lg" type="submit" formaction="/cat">Cat</button>
                <button class="btn btn-outline-dark btn-lg" type="submit" formaction="/dog">Dog</button>
                <button class="btn btn-outline-dark btn-lg" type="submit" formaction="/fox">Fox</button>
                <button class="btn btn-outline-dark btn-lg" type="submit" formaction="/bird">Bird</button>
            </form>
        </div>


        <div class="m-3">
                <%if (image) { %>
                <img class="image-size" src="<%= image %>">
                <% } %>
            </div>



    </div>




</body>

</html>